.downloads {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 30px 0 15px;
  min-height: 270px;
  background-color: $dark-blue;
}

.downloads__lead {
  display: none;
}

.downloads__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 16px;
  width: 206px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.downloads__item {
  width: 47px;
  height: 56px;
}

.downloads__item-apple {
  background: url("../img/logo-apple.svg") no-repeat 100% 100%;
  background-size: 47px 56px;
}

.downloads__item-android {
  background: url("../img/logo-android.svg") no-repeat 100% 100%;
  background-size: 43px 47px;
}

.downloads__item-microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat 100% 100%;
  background-size: 44px 41px;
}

.downloads__describing {
  color: $white;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .downloads {
    width: 300px;
    padding: 95px 0;
    background-color: transparent;
  }

  .page-header__content {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .downloads__lead {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    padding: 0 50px;
    color: $white;
    font-size: 40px;
    line-height: 68px;
    font-weight: 300;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    padding: 120px 0;
  }

  .downloads__lead {
    margin-bottom: 55px;
  }
}
