.form-field {
  @include indentation-reset;
  border: none;
  margin-bottom: 30px;

  &--name,
  &--contacts,
  &--emotions {
    width: 280px;
    margin: 0 auto;
  }

  &--contacts,
  &--name {
    margin-bottom: 26px;
  }

  &--apps {
    margin-bottom: 20px;
  }

  &--emotions {
    margin-bottom: 42px;
  }

  &--apps,
  &--achievements {
    padding: 0 20px;
    background-color: $light-grey;
  }


  &--wrap {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.form-field__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.form-field__item {
  margin-bottom: 17px;
}

.form-field__title-wrap {
  margin: 38px 0 42px;

  &--apps {
    margin: 35px 0 40px;
  }

  &--emotions {
    margin: 18px 0;
  }
}

.form-field__title {
  padding: 0 25px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }
}

.form-field__textarea {
  width: 100%;
  padding: 13px 18px 5px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $grey;

  &:-ms-input-placeholder {
    color: $dark-blue;
  }

  &::-moz-placeholder {
    color: $dark-blue;
  }

  &::-webkit-input-placeholder {
    color: $dark-blue;
  }
}

.form-field__button-notice {
  @include indentation-reset;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  &--add {
    display: none;
  }
}

.form-field__button-symbol {
  color: $pink;
}

.form-field__button {
  width: 280px;
  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .form-field {
    &--name {
      width: 620px;
      order: -3;
    }

    &--apps {
      order: -2;
    }

    &--contacts {
      order: -1;
    }

    &--achievements,
    &--contacts,
    &--apps,
    &--emotions {
      width: 620px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 50px 60px;
      border: 2px solid $grey;
      background-color: transparent;
    }

    &--wrap {
      width: 620px;
      margin: 0 auto;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .form-field__title {
    &--contacts {
      display: block;
    }
  }

  .form-field__title-wrap {
    display: contents;
  }

  .form-field__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .form-field {
    width: 940px;
    margin-left: 0;
    margin-right: 0;

    &--name {
      width: 440px;
    }

    &--apps {
      width: 435px;
    }

    &--contacts {
      padding: 40px 60px 0;
    }

    &--emotions,
    &--achievements {
      padding: 45px 60px;
    }
  }

  .form-field__list {
    &--contacts,
    &--achievements {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form-field__button-notice {
    &--add {
      display: inline-block;
    }
  }
}
