.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


@media (min-width: $desktop-width) {
  .form {
    width: 940px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
