.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 250px;
  color: $white;
  width: 100%;
  background-color: $dark-blue;
}

.main-nav__switch {
  position: absolute;
  right: 20px;
  top: -55px;
}

.main-nav__list {
  @include list-reset;
  text-align: center;
}

.main-nav__item {
  border-top: 1px solid $white-opacity;
  border-bottom: 1px solid $black;
  width: auto;
  height: 63px;
  padding: 10px 0;

  .main-nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: $white;

    &:hover,
    &:focus {
      color: $pink;
    }
  }

  .main-nav__link--active {
    color: $white-opacity;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__switch {
    top: -75px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__switch {
    display: none;
  }

  .main-nav {
    width: 620px;
    margin-left: auto;
    height: 110px;
    color: $white;
    background-color: transparent;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    width: 150px;
    border: none;
    padding: 45px 0;

    .main-nav__link {
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      color: $white;

      &:hover,
      &:focus {
        color: $pink;
      }
    }
  }
}
