.photogallery {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.photogallery__title {
  width: 280px;
  margin: 0 auto;
}

.photogallery__title-text {
  @include indentation-reset;
  padding: 0 15px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .photogallery {
    padding-top: 100px;
  }

  .photogallery__title {
    width: 620px;
  }

  .photogallery__title-text {
    padding: 0 85px;
    margin-bottom: 80px;
    font-size: 18px;
  }
}


@media (min-width: $desktop-width) {
  .photogallery__title {
    width: 960px;
  }

  .photogallery__title-text {
    padding: 0 170px;
    margin-bottom: 90px;
  }
}
