.publication-editor {
  display: flex;
  flex-direction: column;
}

.publication-editor__form {
  padding: 20px 0 33px;
  background-color: $light-grey;
}

.publication-editor__wrap {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.publication-editor__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  margin-bottom: 20px;
}

.publication-editor__range-wrap {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.publication-editor__button {
  padding: 0;
  background-color: transparent;
  border: none;
  fill: $dark-blue-opacity;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: rgba($dark-blue, 0.5);
  }

  &:active,
  &:disabled {
    fill: $pink;
  }

  &--crop {
    width: 44px;
    height: 44px;
    padding-left: 14px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.publication-editor__button--range {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  height: 40px;
  background: transparent; /* Otherwise white in Chrome */

  &:nth-child(2n),
  &:nth-child(3n) {
    display: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid $pink;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: $light-grey;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  &:active::-webkit-slider-thumb {
    background: $pink;
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    border: 2px solid $pink;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: $light-grey;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    border: 2px solid $pink;
    height: 14px;
    width: 16px;
    background: $light-grey;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $dark-blue;
  }

  &:focus::-webkit-slider-runnable-track {
    background: $dark-blue;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $dark-blue;
  }

  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

.publication-editor__example {
  display: block;
  width: 280px;
  height: 374px;
  margin-bottom: 40px;
}


@media (min-width: $tablet-width) {
  .publication-editor__form {
    padding: 55px 0;
  }

  .publication-editor__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .publication-editor__example {
    margin: 0;
    width: 300px;
    height: 400px;
  }

  .publication-editor__tooling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }

  .publication-editor__list {
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 200px;
    margin-bottom: 20px;
  }

  .publication-editor__control-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 240px;
  }

  .publication-editor__control {
    width: auto;
    height: 30px;
    outline: 1px solid red;
    margin-bottom: 0;

    &:nth-child(2n),
    &:nth-child(3n) {
      display: block;
    }
  }

  .publication-editor__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width: 300px;
    padding: 0 20px;
    height: 140px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .publication-editor__form {
    background: none;
    padding: 0;
  }

  .publication-editor__wrap {
    width: 940px;
    padding: 60px 60px 70px 90px;
    background-color: $light-grey;
  }

  .publication-editor__example {
    width: 300px;
    height: 400px;
  }

  .publication-editor__tooling {
    width: 410px;
  }

  .publication-editor__control-wrap {
    height: 200px;
    width: 350px;
  }

  .publication-editor__buttons {
    width: 410px;
    height: auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
  }

  .publication-editor__upload-button,
  .publication-editor__cancel-button {
    width: 185px;
  }
}
