.tariffs {
  background-color: $light-grey;
  padding: 65px 0 100px;
}

@media (min-width: $tablet-width) {
  .tariffs__wrap {
    width: 620px;
    margin: 0 auto;
  }

}

@media (min-width: $desktop-width) {
  .tariffs__wrap {
    width: 960px;
  }
}
